body {
  font-family: 'Amiko', sans-serif;
}
.taskbal.taskbal {
  height: 59px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  background-color: #ffffff !important;
}

.body-icon {
  margin-left: 24px;
  margin-top: 4px;
}
.search {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 20px;
}
.icon-seach {
  border: none;
  background-color: transparent;
  margin-left: 15px;
  margin-right: 5px;
}
.check-box {
  width: 85%;
  height: 25px;
  border: none;
  background-color: transparent;
  outline: none;
}
.noti {
  margin-left: 27px;
  margin-right: 27px;
}
.taskbal-accout {
  height: 29px;
  width: 59px;
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.down {
  margin-left: 10px;
}
/* thanh đứng */

.body-conten {
  display: flex;
  margin-top: 59px;
}
.list-menu {
  width: 239px;
  height: 1000px;
  background-color: #000;
  /* margin-top: 59px; */
  position: relative;
  font-size: 15px;
  font-weight: 600;
  /* margin-top: 59px; */
}
.iteam-menu {
  width: 25px;
  height: 25px;
  display: flex;
  /* padding: 7px; */
}

.iteam {
  width: 169px;
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.element-menu {
  width: 239px;
  height: 42px;
  display: flex;
  align-items: center;
  color: #d9d9d9;
  justify-content: center;
}
.element-extra {
  background-color: rgba(30, 30, 30, 0.9);
}
.dow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
}

/* phần nội dung */
.register {
  height: 1000px;
  width: 100%;
  background-color: #ebebeb;
  /* margin-top: 59px; */
  display: flex;
  flex-direction: column;
}
.title {
  margin-left: 18px;
  margin-top: 32px;
  margin-bottom: 22px;
  font-size: 28px;
  font-weight: 700;
}
.register-screen {
  display: flex;
  background-color: #ffffff;
  width: 95%;
  height: 88%;
  margin-left: 18px;
  font-size: 14px;
  flex-direction: column;
}
.screen-first {
  display: flex;
  justify-content: space-around;
}
.screen-1 {
  height: 760px;
  width: 445px;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  /* margin-left: 29px; */
  font-weight: 400;
}
.check {
  height: 12px;
  width: 12px;
  margin-bottom: 22px;
  margin-top: 20px;
  font-size: 12px;
}
.check-out {
  margin-left: 50px;
}

.register-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: 400;
}
.input-check {
  font-weight: 700;
}
.input-check-last {
  font-weight: 600;
}
.input-box {
  margin-top: 5px;
  height: 35px;
  width: 445px;
}
.screen-2 {
  height: 458px;
  width: 445px;
  margin-left: 140px;
  margin-top: 20px;
  font-weight: 400;
}
h1 {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 700;
}
.screen-extra {
  display: flex;
  justify-content: space-between;
}
.register-extra {
  height: 35px;
  width: 206px;
  margin-top: 5px;
}
.register-last {
  margin-left: 25px;
}
.input-last {
  margin-left: 25px;
}
.button-add {
  width: 150px;
  height: 50px;
  background-color: #ffbe00;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 41%;
}
button {
  background-color: transparent;
  border: transparent;
  font-size: 16px;
  font-weight: 400;
}
